* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#hd-container {
    background-color: rgba(53, 53, 53, 0.459);
    width: 100%;
    display: flex;
    position: fixed;
}

#hd-container-name,
#hd-container-links {
    width: 50%;
}

#hd-container-links {
    display: flex;
}

.hd-links {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 20px;
    margin-left: 20px;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

#hd-name {
    font-family: 'Press Start 2P', cursive;
    margin: 2.5%;
    margin-left: 100px;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hd-name::after {
    content: '/>';
}

#hd-name::before {
    content: '<';
}

#bd-container {
    height: 664px;
    display: flex;
    background: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
}

#bd-descript {
    width: 50%;
    margin: auto;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 15%;
    padding-left: 15%;
    background-color: black;
}

.bd-descript-comp {
    font-family: 'PT Mono', monospace;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 15px;
}

.bd-descript-name {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bd-btn {
    width: 140px;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

#bd-btn1 {
    border: 2px solid steelblue;
    color: steelblue;
}

#bd-btn2 {
    border: 2px solid rebeccapurple;
    color: rebeccapurple;
}

#bd-image {
    width: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 4px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bd-image-foto {
    height: 50%;
    width: 50%;
    background-image: url('./images/front4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bd-sobre-mim {
    height: 100%;
    max-height: 670px;
    text-align: center;
    background-color: rgb(20, 20, 20);
}

#bd-photo-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#bd-photo-container {
    width: 228px;
    height: 228px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
}

#bd-photo-img {
    width: 220px;
    height: 220px;
    background-image: url('./images/enzom.jpg');
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bd-sobre-title {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
}

.bd-sobre-desc {
    margin-top: 15px;
    margin-bottom: 42px;
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    line-height: 28px;
}

.bd-icons,
.bd-tecs {
    width: 50px;
    margin: 10px;
}

.bd-tecs {
    cursor: pointer;
}

#bd-tecs {
    width: 100%;
    height: 663px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
}

#bd-tecs-container {
    padding: 2.5px;
    height: 99%;
    width: 99.4%;
    background-color: black;
}

#bd-tecs-title {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 60px;
}

#bd-icons-tecs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

#bd-icons-cont-tecs {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 20px;
}

#bd-descript-t {
    font-family: 'PT Mono', monospace;
    font-size: 17px;
    width: 500px;
    margin-left: 10%;
}

#bd-projects {
    width: 100%;
    height: 663px;
    background-color: rgb(20, 20, 20);
    text-align: center;
}

#bd-proj-title {
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 80px;
}

#bd-proj-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#bd-projects-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.projects {
    width: 240px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.438);
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#jm {
    background-image: url(./images/jm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jv {
    background-image: url(./images/jv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cm {
    background-image: url(./images/cm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bc {
    background-image: url(./images/bc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mc {
    background-image: url(./images/mc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s-proj {
    font-family: 'PT Mono', monospace;
    width: 100%;
    height: 20px;
    padding: 2.5PX;
    background-color: rgba(0, 0, 0, 0.664);
}

#ft-contatos {
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ft-contatos-container {
    background-color: black;
    text-align: center;
    height: 98.8%;
    width: 99.4%;
    padding: 2.5px;
}

#ft-contatos-title-cont {
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ft-contatos-title {
    font-family: 'Press Start 2P', cursive;
    padding-top: 60px;
}

#ft-contatos-lista-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.ft-itens {
    list-style: none;
    text-align: left;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'PT Mono', monospace;
}

#ft-lk::before {
    content: '';
    background-image: url(./images/linkedin.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

#ft-gh::before {
    content: '';
    background-image: url(./images/github.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

#ft-wa::before {
    content: '';
    background-image: url(./images/whatsapp.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

#ft-em::before {
    content: '';
    background-image: url(./images/email.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}